# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Datasets and checkpoints
data/
runs/
*.pt
*.pth
*.bin
